@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient background for tone color all website */
.bg-gradient-tone {
  @apply bg-gradient-to-r from-[#02005dc6] to-[#1a237e];
}

/* Search input */
.search-input {
  @apply mb-4 w-1/4 text-2xl;
}

/* Float animation */
@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}
