@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient background for tone color all website */
/* .bg-gradient-tone {
  @apply bg-gradient-to-r from-[#02005dc6] to-[#1a237e];
} */

/* .bg-gradient-tone {
  @apply bg-[#1a237e];
} */

.bg-gradient-tone {
  @apply bg-[#1a237e] bg-gradient-to-r from-[#02005dc6] to-[#1a237e];
}

.bg-pagination {
  @apply bg-gradient-tone rounded-md p-2 text-white;
}

.bg-btn {
  @apply hidden items-center rounded-full border border-[#1a237e]/30 bg-[#1a237e] bg-gradient-to-r from-[#02005dc6] to-[#1a237e] px-8 py-3 text-sm font-medium text-white shadow-[0_0_20px_rgba(26,35,126,0.3)] backdrop-blur-sm transition-all duration-300 ease-out hover:scale-105 hover:shadow-[0_0_25px_rgba(26,35,126,0.5)] lg:inline-flex;
}

.bg-btn-submit {
  @apply hidden w-full text-center items-center justify-center rounded-full border border-[#1a237e]/30 bg-[#1a237e] bg-gradient-to-r from-[#02005dc6] to-[#1a237e] px-8 py-3 text-sm font-medium text-white shadow-[0_0_20px_rgba(26,35,126,0.3)] backdrop-blur-sm transition-all duration-300 ease-out hover:scale-105 hover:shadow-[0_0_25px_rgba(26,35,126,0.5)] lg:inline-flex;
}

.btn-text {
  @apply text-[#161d66] transition-colors duration-300 hover:text-[#161d66]/80;
}

/* .btn-edit {
  @apply group flex h-auto items-center gap-2 border-none bg-[#1a237e] px-8 py-4 text-lg transition-colors duration-300 hover:bg-[#0d1453] hover:text-white;
} */

/* Search input */
.search-input {
  @apply mb-4 w-1/4 text-2xl;
}

/* Float animation */
@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}
